.icon-picker-wrap {
    margin: 0 auto;
    width: 200px;
    margin-top: 10%;
}

button.select-icon {
    padding: 20px;
    border-radius: 5px;
    background-color: #70b2dc;
    font-size: 22px;
    cursor: pointer;
}

.atm-close{
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}
.atm-open{
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease-in-out;
}

.icon-picker-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.icon-picker-wrap ul li {
    border: 2px solid #ddd;
    line-height: 1;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.icon-picker-wrap ul li i {
    font-size: 68px;
    line-height: 1;
    margin: 0;
}

.icon-picker-wrap ul li:nth-child(2) {
    border-left: 0;
}

/*
 */
.dialog-widget-content {
	background-color: #fff;
	position: absolute;
	border-radius: 3px;
	box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.dialog-message {
	font-size: 12px;
	line-height: 1.5;
	box-sizing: border-box;
}

.dialog-type-lightbox {
	position: fixed;
	height: 100%;
	width: 100%;
	bottom: 0;
    left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	user-select: none;
}
.dialog-type-lightbox .dialog-widget-content {
	margin: auto;
	width: 375px;
}
.dialog-type-lightbox .dialog-header {
	font-size: 15px;
	color: #495157;
	padding: 30px 0 10px;
	font-weight: 500;
}
.dialog-type-lightbox .dialog-message {
	padding: 0 30px 30px;
	min-height: 50px;
}
.dialog-type-lightbox:not(.aesthetic-popup-modal) .dialog-header,
.dialog-type-lightbox:not(.aesthetic-popup-modal) .dialog-message {
	text-align: center;
}
.dialog-type-lightbox .dialog-buttons-wrapper {
	border-top: 1px solid #e6e9ec;
	text-align: center;
}
.dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button {
	font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
	width: 50%;
	border: none;
	background: none;
	color: #6d7882;
	font-size: 15px;
	cursor: pointer;
	padding: 13px 0;
	outline: 0;
}
.dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button:hover {
	background-color: #f4f6f7;
}
.dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button.dialog-ok {
	color: #b01b1b;
}
.dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button.dialog-take_over {
	color: #39b54a;
}
.dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button:active {
	background-color: rgba(230, 233, 236, 0.5);
}
.dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button::-moz-focus-inner {
	border: 0;
}

.dialog-close-button {
	cursor: pointer;
	position: absolute;
	margin-top: 15px;
	right: 15px;
	font-size: 15px;
	line-height: 1;
}
.dialog-close-button:not(:hover) {
	opacity: 0.4;
}

.atm .dialog-widget-content {
	font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
	background-color: #f1f3f5;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}
@media (max-width: 1439px) {
	.atm .dialog-widget-content {
		max-width: 990px;
	}
}
@media (min-width: 1440px) {
	.atm .dialog-widget-content {
		max-width: 1200px;
	}
}

.atm .dialog-header {
	padding: 0;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1;
}

.atm .dialog-buttons-wrapper {
	background-color: #fff;
	border: none;
	display: none;
	justify-content: flex-end;
	padding: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	position: relative;
}
.atm .dialog-buttons-wrapper .aesthetic-button {
	height: 40px;
	margin-left: 5px;
}
.atm .dialog-buttons-wrapper .aesthetic-button-success {
	padding: 12px 36px;
	color: #fff;
	width: initial;
	font-size: 15px;
}
.atm .dialog-buttons-wrapper .aesthetic-button-success:hover {
	background-color: #39b54a;
}

.atm .dialog-message {
	height: 750px;
	max-height: 85vh;
	overflow: auto;
	padding-top: 25px;
}

.atm .dialog-content {
	height: 100%;
}

.atm .dialog-loading {
	display: none;
}

.atm__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.atm__header__logo {
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}
.atm__header__logo-area {
	text-align: left;
	padding-left: 15px;
}
.atm__header__logo-area > * {
	display: flex;
	align-items: center;
}
.atm__header__logo__icon-wrapper {
	margin-right: 10px;
	font-size: 12px;
}
.atm__header__logo__title {
	padding-top: 2px;
}
.atm__header__items-area {
	display: flex;
	flex-direction: row-reverse;
}
.atm__header__item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: content-box;
}
.atm__header__item > i {
	font-size: 20px;
	transition: all 0.3s;
	cursor: pointer;
}
.atm__header__item > i:not(:hover) {
	color: #a4afb7;
}
.atm__header__close--normal {
	width: 47px;
	border-left: 1px solid #e6e9ec;
}
.atm__header__close--normal i {
	font-size: 18px;
}
.atm__header__close--skip {
	padding: 10px;
	padding-left: 20px;
	margin-right: 10px;
	color: #fff;
	background-color: #a4afb7;
	font-size: 11px;
	font-weight: normal;
	line-height: 1;
	text-transform: uppercase;
	border-radius: 2px;
	cursor: pointer;
}
.atm__header__close--skip > i {
	font-size: inherit;
	padding-left: 10px;
	margin-left: 15px;
	border-left: 1px solid;
}
.atm__header__close--skip > i:not(:hover) {
	color: #fff;
}

#aim-modal .dialog-message {
	padding: 0;
	height: 700px;
}

#aim-modal .dialog-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#aim-modal .dialog-buttons-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#aim__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (max-width: 479px) {
	#aim__sidebar {
		display: none;
	}
}

#aim__tab-links {
	margin-top: 30px;
}

#aim__upload {
	margin: 20px 45px;
	padding-top: 35px;
	border-top: 1px solid #e6e9ec;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@media (max-width: 1439px) {
	#aim__upload {
		margin: 20px 25px;
	}
}
#aim__upload__title {
	color: #a4afb7;
	font-size: 11px;
	text-transform: uppercase;
}

#aim__main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 30px 80px 0;
	width: 75%;
}
@media (max-width: 1439px) {
	#aim__main {
		padding: 30px 50px 0;
	}
}
@media (max-width: 479px) {
	#aim__main {
		width: 100%;
	}
}

#aim__search {
	position: relative;
}
#aim__search input {
	width: calc( 100% - 30px);
	padding: 8px 15px;
	background-color: #fff;
	border: none;
}
#aim__search input::-webkit-input-placeholder {
	font-style: italic;
}
#aim__search input::-moz-placeholder {
	font-style: italic;
}
#aim__search input::-ms-input-placeholder {
	font-style: italic;
}
#aim__search input::placeholder {
	font-style: italic;
}
#aim__search i {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 15px;
}

#aim__tab__wrapper {
	overflow: auto;
	margin: 25px -15px 0;
	padding: 0 15px 15px;
}

#aim__tab__title {
	color: #556068;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
}
@media (max-width: 479px) {
	#aim__tab__title {
		display: none;
	}
}

#aim__tab__content {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 20px;
	margin: 20px 0;
}
@media (max-width: 1439px) {
	#aim__tab__content {
		grid-template-columns: repeat(6, 1fr);
	}
}
@media (max-width: 1024px) {
	#aim__tab__content {
		grid-template-columns: repeat(5, 1fr);
	}
}
@media (max-width: 767px) {
	#aim__tab__content {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 479px) {
	#aim__tab__content {
		grid-template-columns: repeat(3, 1fr);
	}
}

#aim__promotion {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-top: 70px;
}
#aim__promotion__icon {
	font-size: 60px;
	color: #c2cbd2;
}
#aim__promotion__text {
	width: 300px;
	font-size: 16px;
	padding-top: 25px;
}
#aim__promotion__link {
	margin-top: 20px;
}

.aim__tab-link {
	padding: 15px 0 15px 45px;
	font-size: 14px;
	color: #6d7882;
	text-align: left;
	cursor: pointer;
	position: relative;
}
.aim__tab-link i {
	font-size: 20px;
	padding-right: 15px;
	color: #a4afb7;
}
@media (max-width: 1439px) {
	.aim__tab-link {
		padding: 15px 15px 15px 25px;
		font-size: 11px;
	}
	.aim__tab-link i {
		font-size: 15px;
	}
}
@media (max-width: 1024px) {
	.aim__tab-link i {
		display: none;
	}
}
.aim__tab-link.aesthetic-active {
	background-color: #fff;
	-webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.aim__tab-link.aesthetic-active:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 5px;
	top: 0;
	left: 0;
	background-color: #71d7f7;
}
.aim__tab-link.aesthetic-active i {
	color: #71d7f7;
}

.aim__tab__item {
	position: relative;
	padding: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
}
.aim__tab__item:hover {
	-webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, 0.16);
	box-shadow: 0 1px 14px rgba(0, 0, 0, 0.16);
}
.aim__tab__item.aesthetic-selected {
	-webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05), 0 0 0 3px #71d7f7;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05), 0 0 0 3px #71d7f7;
}
.aim__tab__item__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1px;
}
.aim__tab__item__content i,
.aim__tab__item__icon {
	font-size: 25px;
	color: #6d7882;
}
.aim__tab__item__name {
	color: #c2cbd2;
	font-size: 11px;
	padding: 13px 20px 0;
	max-width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.atm__sidebar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 25%;
    background-color: hsla(0,0%,100%,.3);
}
