@import "{{ site.theme }}";

.page-header {
    background: #005f73 !important;
}

.main-content .icon-picker-wrap {
    padding-top: 90px;
}

.demo-header {
    text-align: center;
}

.demo-header {
    text-align: center;
}